<!-- <p>joinacadamy works!</p> -->
<html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    
</script>


     <b><hr style=" color: black; box-shadow: 20px;"></b>

<body style="background-color: rgb(230, 237, 237); border:2px solid black;  ">
    

        <h5 style="text-align: center;height: 40px; color: azure; margin-top: 100px; background-image: linear-gradient(to right, rgb(204, 237, 241), rgb(0, 89, 255), rgb(101, 89, 189)); border-radius: 4px;box-shadow: 5px 10px 20px rgb(193, 158, 158);"><u>ADMISSION FORM</u></h5>

<br>    
<marquee direction="Alternate" scrollamount="15px" loop="1000" style="color:red; font-size: 20px;">  Admission Open  </marquee> 
<fieldset style=" border: 2px solid black; width: 100%;">

<form>
<table align="center">
    <br>
    <br>
     <tr>
       <td> <div class="img3" style="border: 1px solid black; height: 150px; width: 150px;"><h6 style="text-align: center; margin-top: 52px;">Photo</h6></div></td>
      </tr>
   
        <tr>
        <td><b>Name :</b></td>
        <td>
            <input type="text" placeholder=" First Name" id="first name" name="First Name" value="">
        
            <input type="text" placeholder=" Middle Name" id="name" name="MiddleName" value="">
            
        
            <input type="text" placeholder=" last Name" id=" lname" name=" lName" value="">
            
        </td>
    </tr>
        <tr>
            <td><b>Email-Id :</b></td>
            <td><input type="text" placeholder="pragati123@gmail.com" id="email" name="Email-Id" value="" ></td>
        </tr>
       
        <tr>
            <td> <b>Mobile Number :</b></td>
            <td> <input type="tel" placeholder="**********" id="mobno" name="mobno" value="" maxlength="10" > (10 Digit Allowed)</td>
        </tr>

        <tr>
            <td><b>Birth-Date(DOB)</b></td>
            <td> <input type="text" id="bdate" name="bdate" value="" >

            <b>Birth-Place</b>
            <input type="month" id="bdate" name="bdate" value="" >
             </td>
        </tr>

        <tr>
            <td><b>Gender :</b></td>
            <td> <input type="radio" id="gen" name=" gen" value="">Male
                <input type="radio" id="gen" name=" gen" value=""> Female </td>
        </tr>

        <tr>
            <td><b>Cast/religion :</b> </td>
            <td><input type="text"  id="city" name="city" value="" ></td>
        </tr>


        <tr>
            <td> <b>Personal Address : </b></td>
           <td>
            <textarea name="a"></textarea>
            <b>Postal Address :</b>
            <textarea name=""></textarea>
           </td>    
        </tr>


        
        <tr>
            <td><b> City :</b> </td>
            <td><input type="text" placeholder="Current City" id="city" name="city" value="" ></td>
        </tr>

        <tr>
            <td><b> Pin-Code :</b></td>
            <td> <input type="text" placeholder="******" name="pincode" value="" maxlength="6" ></td>
        </tr>

        <tr>
            <td><b>Student is disable:</b></td>
            <td> <input type="radio" id="gen" name=" gen" value="">yes
                <input type="radio" id="gen" name=" gen" value=""> No &nbsp;&nbsp;&nbsp;&nbsp;
        
        </tr>

        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

        
        <tr>
            <td><b>Select Your Disability Type: </b></td>
            <td><select>
                <option><style placeholder="select"></style></option>
                <option>1.Visual impairment</option>
                <option>2.Hearing impairment</option>
                <option>3.Loco motor impairment; Cerebral Palsy</option>
                <option>4.Mental retardation and Mental illness</option>
                <option>Children with learning disabilities </option>
            </select></td>

        </tr>
        
        <td></td>
        <td></td>
        <td></td>

        <tr>
            <td> <b>State :</b></td>
             <td><input type="text"  id="sta" name="sta" value="" maxlength="50" > &nbsp;&nbsp;
            <b>Nationality :</b>
            <input type="text"  id="con" name="con" value="" maxlength="50" ></td>
             </tr>
             
        <td></td>
        <td></td>
        <td></td>

        <tr>
            <td><b>Select Standard Where You Studying</b></td>
            <td>
             <select>
                <option></option>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
                <option>4th</option>
                <option>5th</option>
                <option>6th</option>
                <option>7th</option>
                <option>8th</option>
                <option>9th</option>
                <option>10th</option> 
                <option>Other</option>  
             </select>  &nbsp;&nbsp;
             <input type="text"id="" placeholder="other" name=" " value=""> 
            </td>
        </tr>
        
        <td></td>
        <td></td>
        <td></td>

        <tr>
            <td><b>Mother-tongue of the candidate:</b></td>
            <td><input type="text" id="" placeholder="Marathi,Hindi,English" name=" " value=""> </td>

        </tr>
        

        <tr>
            <td colspan="3" align="center">
                <button class="button-spacing" type="reset">Reset</button>
                <button class="button-spacing" type="submit">Submit</button>
                <button class="button-spacing" type="submit">Print</button>



            </td>
        </tr>
       

</table>
</form> <br><br>
</fieldset>
</body>
</html>





